In [1]:
import pandas as pd

In [2]:
excel_file = 'BBA & MBA PROGRAM STRUCTURE EVEN SEMESTER 2024 (2).xlsx'

In [3]:

df = pd.read_excel(excel_file)

In [4]:

# Extract the values from the first column of the DataFrame
my_list = df.iloc[:, 0].tolist()

# Print the list of items
print("Your list of items:")
for index, item in enumerate(my_list, start=1):
    print(f"{index}. {item}")

Your list of items:
1. S No
2. 1
3. 2
4. 3
5. nan
6. ELECTIVE
7. FINANCE AND ACCOUNTS
8. 4
9. 5
10. 6
11. 7
12. 8
13. Entrepreneurship & Family Business Specialization
14. 9
15. 10
16. 11
17. 12
18. 13
19. Health Care Management Specialization
20. 14
21. 15
22. 16
23. 17
24. 18
25. Global Operations Management
26. 19
27. 20
28. 21
29. 22
30. Business Analytics Specialization
31. 23
32. 24
33. 25
34. 26
35. 27

In [5]:
df

,SEMESTER II,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,S No,SUBJECT CODES,SUBJECT NAME,OFFERING DEPARTMENT,*COURSE NATURE (Hard/Soft/\n Workshop/ NTCC),COURSE TYPE (Core/Elective /\n University Comp...,L,T,P,NO. OF CONTACT HOURS PER WEEK,NO. OF CREDITS
1,1,MCH114B,HUMAN RESOURCE MANAGEMENT,DMC,HARD,CORE,3,0,0,3,3
2,2,MCH115B,FINANCIAL MANAGEMENT,DMC,HARD,CORE,3,0,0,3,3
3,3,CSS108B,ADVANCED EXCEL,CST,SOFT,CORE,1,0,2,3,2
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,ELECTIVE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,FINANCE AND ACCOUNTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,4,MCH113B,MACRO ECONOMICS,DMC,HARD,ELECTIVE,3,0,0,3,3
8,5,MCH122B,COST ACCOUNTING,DMC,HARD,ELECTIVE,3,0,0,3,3
9,6,MCH140B,FINANCIAL SERVICES,DMC,HARD,ELECTIVE,3,0,0,3,3
10,7,EDH147,BUSINESS COMMUNICATION SKILLS- II,EDU,HARD,ELECTIVE,3,0,0,3,3
11,8,MCH137B,INDUSTRY PROJECT,DMC,NTCC,ELECTIVE,0,0,0,0,2
12,Entrepreneurship & Family Business Specialization,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,9,MCH113B,MACRO ECONOMICS,DMC,HARD,ELECTIVE,3,0,0,3,3
14,10,MCH124B,INTRODUCTION TO FAMILY BUSINESS MANAGEMENT (EFB),DMC,HARD,ELECTIVE,3,0,0,3,3
15,11,MCH125B,CREATIVITY & INNOVATION IN ENTREPRENEURSHIP,DMC,HARD,ELECTIVE,3,0,0,3,3
16,12,EDH147,BUSINESS COMMUNICATION SKILLS- II,EDU,HARD,ELECTIVE,3,0,0,3,3
17,13,MCH137B,INDUSTRY PROJECT,DMC,NTCC,ELECTIVE,0,0,0,0,2
18,Health Care Management Specialization,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,14,MCH119B,FINANCING & BUSINESS DEVELOPMENT OF HOSPITALS,DMC,HARD,ELECTIVE,3,0,0,3,3
20,15,MCH126B,HEALTHCARE COMMUNICATION,DMC,HARD,ELECTIVE,3,0,0,3,3
21,16,MCH141B,Hospital Hazards and waste management,DMC,HARD,ELECTIVE,3,0,0,3,3
22,17,MCH127B,HEALTHCARE ECONOMICS,DMC,HARD,ELECTIVE,3,0,0,3,3
23,18,MCH137B,INDUSTRY PROJECT,DMC,NTCC,ELECTIVE,0,0,0,0,2
24,Global Operations Management,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,19,MCH113B,MACRO ECONOMICS,DMC,HARD,ELECTIVE,3,0,0,3,3
26,20,EDH147,BUSINESS COMMUNICATION SKILLS- II,EDU,HARD,ELECTIVE,3,0,0,3,3
27,21,MCH117B,FUNDAMENTALS OF LOGISTICS,ME,HARD,ELECTIVE,3,0,0,3,3
28,22,MCH137B,INDUSTRY PROJECT,DMC,NTCC,ELECTIVE,0,0,0,0,2
29,Business Analytics Specialization,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,23,EDH147,BUSINESS COMMUNICATION SKILLS- II,EDU,HARD,ELECTIVE,3,0,0,3,3
31,24,MCH136B,MANAGERIAL ECONOMICS,DMC,HARD,ELECTIVE,3,0,0,3,3
32,25,MCH142B,Structured Query Language (SQL),DMC,HARD,ELECTIVE,2,0,2,4,3
33,26,MCH135B,DATA CLEANING,DMC,HARD,ELECTIVE,2,0,2,4,3
34,27,MCH137B,INDUSTRY PROJECT,DMC,NTCC,ELECTIVE,0,0,0,0,2

In [10]:
unique_values = df['Unnamed: 2'].unique()

# Print unique values
print("Unique values from the column:")
for value in unique_values:
    print(value)

Unique values from the column:
SUBJECT NAME
HUMAN RESOURCE MANAGEMENT
FINANCIAL MANAGEMENT
ADVANCED EXCEL
nan
MACRO ECONOMICS
COST  ACCOUNTING
FINANCIAL SERVICES
BUSINESS COMMUNICATION SKILLS- II
INDUSTRY PROJECT
INTRODUCTION TO  FAMILY BUSINESS MANAGEMENT (EFB)
CREATIVITY & INNOVATION IN ENTREPRENEURSHIP
FINANCING & BUSINESS DEVELOPMENT OF HOSPITALS
HEALTHCARE COMMUNICATION
Hospital Hazards and waste management
HEALTHCARE ECONOMICS
FUNDAMENTALS OF LOGISTICS
MANAGERIAL ECONOMICS
Structured Query Language (SQL)
DATA CLEANING

In [11]:
import pandas as pd

# Create a DataFrame with your data
data = {
    'Name': ['John', 'Emma', 'Alice'],
    'Age': [30, 25, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)

# Define the filename for the Excel file
excel_filename = 'output.xlsx'

# Write the DataFrame to an Excel file
df.to_excel(excel_filename, index=False)

print(f"Data has been written to {excel_filename}")

Data has been written to output.xlsx